$red: #d00;
$menugreen: #9fbb43;
$darkgray: #5a5b60;
$menugray: #e4e4e4;
$black: #000;
$lightgray: #a9b0be;
$white: #fff;
$numbergray: #434449;
$teal: #64a6c3;
$etsyorange: #d86300;
$etsysidebar: #4f90b4;
$sand: #f5f5f1;
$bordergray: #e1e2de;

// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
//Top Row
.wrapper {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.logo {
  float: left;
  height: 100px;
  margin: 0 auto;
  padding: 0 auto;
  width: 200px;
}

.search-button {
  background-color: $teal;
  color: $white;
  display: inline-block;
  font-family: 'Arial','sans-serif';
  font-size: 16px;
  font-weight: bold;
  height: 37px;
  margin-top: 45px;
  padding: 0 auto;
  text-align: center;
  width: 83px;

  &:hover {
    background-color: lighten($teal, 5%);
  }
}



.site-nav {
  color: $teal;
  font-size: 14px;
  margin-top: 25px;
  padding: 0 auto;


  img {
    height: 30px;
    width: 30px;
  }
}

.search-box {
  border: 1px solid $lightgray;
  box-shadow: 1px .5px 1px $darkgray;
  color: $bordergray;
  float: left;
  font-size: 16px;
  height: 36px;
  margin-top: 45px;
  width: 250px;
}

//Top Nav Bar
.navigation-bar {
  margin-left: 25px;
}

.navigation-bar>a {
  color: $lightgray;
  margin-left: 20px;
  text-decoration: none;

  &:hover {
    border-bottom: 3px solid $etsyorange;
    color: $black;
    content: '';

  }
}

//Main Content
.main-content {
  background-color: $sand;
  margin: 0;
  width: 100%;
}
//Sidebar
aside {


  background-color: $white;
  border: .5px solid $bordergray;
  display: inline-block;
  float: left;
  margin-left: 20px;
  width: 250px;

  h5 {
    margin-left: 20px;
  }
}

.sidebar {
  a {
    color: $etsysidebar;
  }

  li {
    line-height: 25px;
    list-style: none;
    text-decoration: none;
  }
}
//Product Listing
.products-container {
  display: inline-block;
  float: right;
}

.product-listing {
  display: inline-block;
}

.description {
  width: 175px;
}

.products-box {
  display: inline-block;
  width: 170px;
}
